:root {
    --dark: #131515;
    --dark2: #2B2C28;
    --primary: #339989;
    --secondary: #7DE2D1;
    --light: #FFFAFB;
    --dark3: #4B635F;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--secondary);
}

.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--primary);
}

.btn-primary:active {
    background-color: var(--primary) !important;
    border-color: var(--secondary) !important;
}

.navbar {
    background-color: var(--dark2) !important;
    position: fixed;
    width: 100%;
    height: 100px;
    opacity: 1;
    z-index: 621000;
    box-shadow: 0 2px 1px var(--light) !important;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: white !important;
}

.router-link-exact-active {
    border-bottom-color: var(--secondary) !important;
}

.container {
    all: unset;
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: unset;
}

.logo {
    background-image: url(../public/logo.png);
    width: 75px;
    height: 75px;
}

.hero-content {
    position: absolute;
    z-index: 100000;
    width: 100%;
    height: 100%;

}

.hero-text {
    font-family: "Inconsolata", monospace;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 170px;
    font-size: 30px;
    padding-bottom: 0px;
    color: white;
}


.hero-text p {
    width: 100% !important;
    border-radius: 0;
    border-left: none;
    border-right: none;

}

.hero-text h2 {
    font-family: Lato !important;
    font-weight: 600;
    font-size: 100px;
    text-shadow: var(--light) 0 0 0px, var(--light) 0 0 0px, var(--light) 0 0 0px, var(--light) 0 0 10px;
    color: var(--dark2);

}

.hero-text button {
    width: fit-content;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    color: white;
    font-family: Lato, sans-serif;
    padding: 10px 50px;
    border-radius: 6px;
    margin: 0 auto;
    font-size: 30px;
    transform-origin: center;
    font-size: 24px;


    transition: background-color 0.25s ease, border 0.25s ease, scale 0.25s ease;
}

.hero-text button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
}

.hero-text button:active {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    scale: 0.95;
}

.hero {
    all:unset;
    display: block;
    height: calc(100vh - 100px) !important;
    overflow: hidden;
    text-align: center;
    position: relative;

    background: url(../public/bg1.webp);
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-bg {
    position: absolute;
    height: 100vh;
    font-size: 500px;
    font-weight: 900;
    text-shadow: 10px 10px 10px black;
    opacity: 0.5;
    color: var(--light) !important;
    position: relative;
}

.hero p {
    width: fit-content;
    margin: 0 auto;
    padding: 15px 40px;
    font-weight: 900;
    text-shadow: 1px 1px var(--dark2);
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

hr {
    all: unset;
}

.map-container {
    width: 100%;
    height: calc(100vh - 100px);
    background: url(../public/blobs.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.map {
    width: 97%;
    height: 97%;
    border-radius: 6px;
}



.map-wrapper {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 8px solid transparent;
    background: var(--light);

    background-origin: border-box;
}




main {
    padding-top: 100px;
    background: none;
    overflow-x: hidden;
}

.forums-list {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    padding: 50px;
}



.forum-post {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.25s ease, scale 0.25s ease
}

button {
    transition: scale 0.25s ease;
}

button:active {
    scale: 0.95 !important;
}

.forum-post-header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.forum-post-header h4 {
    font-weight: normal;
    font-size: 16px;
    margin-left: auto;
    
}

.forum-post p {
    padding: 25px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.forum-post:hover {
    box-shadow: var(--secondary) 0 0 10px,var(--secondary) 0 0 10px,var(--secondary) 0 0 10px,var(--secondary) 0 0 10px,var(--secondary) 0 0 10px,var(--secondary) 0 0 10px,var(--secondary) 0 0 10px;
}

.forum-post:active {
    scale: 0.95;
}


.post-container {
    max-width: 800px;
    margin: 50px auto;

}

.post {
    border: 2px solid var(--dark2);
    box-shadow: 5px 5px black;
    border-radius: 16px;
    overflow: hidden;
    margin: 10px;
}

.post h2 {
    padding: 25px;
    border-bottom: 1px solid gray;

}

.post h4 {
    padding-left: 25px;
    font-size: 18px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.post p {
    padding: 30px;
}

.post-container button, .toggle-friends {
    all: unset;
    color: white;
    background-color: var(--primary);
    padding: 10px 30px;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 10px;

    transition: scale 0.25s ease;
}

.navbar-toggler-icon {
    color: white !important;
}

.post-container button:hover, .toggle-friends:hover {
    border: 2px solid var(--primary);
    background-color: var(--secondary);
}

.post-container button:active, .toggle-friends:active {
    border: 2px solid var(--secondary);
    background-color: var(--primary);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  

.glassify {
    background: rgba(27, 27, 27, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(10, 10, 10, 0.3);
}

.dropdown-menu {
    width: 100%;
    width: fit-content;
    left: unset;
    right: 10px;
    top: 55px;
    padding: 0;
}

.dropdown-menu h6 {
    text-align: center;
    font-size: 20px !important;
}

.dropdown-menu a, .dropdown-menu button {
    text-align: center;
}

@media screen and (max-width: 760px) {
    .navbar-collapse {
         background-color: var(--dark2);
    }
    nav.navbar {
        padding: 0 5px
    }

    .forums-list {
        padding: 10px;
    }

    .forum-post .forum-post-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 75px;
    }

    .forum-post .forum-post-header h3 {
        font-size: 16px;
        white-space: wrap;
    }

    .forum-post .forum-post-header h4 {
        font-size: 14px;
        white-space: wrap;
        margin: unset;
    }

    .hero-bg {
        font-size: 200px !important;
        line-height: calc(100vh - 100px);
    }

    .hero-text h2 {
        font-size: 50px;
    }

    .hero-text p {
        font-size: 20px;
        padding: 10px;
    }

    .hero-text {
        gap: 100px;
    }
}