:root {
    --dark: #131515;
    --dark2: #2B2C28;
    --primary: #339989;
    --secondary: #7DE2D1;
    --light: #FFFAFB;
    --dark3: #4B635F;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--secondary);
}

.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--primary);
}

.btn-primary:active {
    background-color: var(--primary) !important;
    border-color: var(--secondary) !important;
}

.navbar {
    background-color: var(--dark2) !important;
    position: fixed;
    width: 100%;
    height: 100px;
    opacity: 1;
    z-index: 621000;
    box-shadow: 0 2px 1px var(--light) !important;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: white !important;
}

.router-link-exact-active {
    border-bottom-color: var(--secondary) !important;
}

.container {
    all: unset;
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: unset;
}

.logo {
    background-image: url(../public/logo.png);
    width: 75px;
    height: 75px;
}

.hero-content {
    position: absolute;
    z-index: 100000;
    width: 100%;
    height: 100%;

}

.hero-text {
    font-family: "Inconsolata", monospace;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 170px;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 0px;
    color: var(--dark2);

}

.hero-text h2 {
    font-family: monospace;
    font-weight: 100;
    font-size: 100px;
    text-shadow: var(--light) 0 0 0px, var(--light) 0 0 0px, var(--light) 0 0 0px, var(--light) 0 0 10px;
    color: var(--dark2);

}

.hero {
    all:unset;
    display: block;
    height: calc(100vh - 100px) !important;
    text-align: center;
    position: relative;

    background: url(../public/bg1.webp);
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-bg {
    position: absolute;
    height: 100vh;
    font-size: 500px;
    font-weight: 900;
    text-shadow: 10px 10px 10px black;
    opacity: 0.5;
    color: var(--light) !important;
    position: relative;
}

.hero p {
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-container {
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
}

hr {
    all: unset;
}

.map {
    width: 100%;
    height: 100%;
}

main {
    padding-top: 100px;
    background: none;
}

.forums-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    padding: 50px;

}

.forum-post {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.forum-post-header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.forum-post-header h4 {
    font-weight: normal;
    font-size: 16px;
    margin-left: auto;
    
}

.forum-post p {
    padding: 25px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.forum-post:hover {
    box-shadow: var(--secondary) 0 0 10px,var(--secondary) 0 0 10px,var(--secondary) 0 0 10px,var(--secondary) 0 0 10px,var(--secondary) 0 0 10px,var(--secondary) 0 0 10px,var(--secondary) 0 0 10px;

}


.post-container {
    max-width: 800px;
    margin: 50px auto;

}

.post {
    border: 2px solid var(--dark2);
    box-shadow: 5px 5px black;
    border-radius: 16px;
    overflow: hidden;
}

.post h2 {
    padding: 25px;
    border-bottom: 1px solid gray;

}

.post h4 {
    padding-left: 25px;
    font-size: 18px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.post p {
    padding: 30px;
}

.post-container button {
    all: unset;
    color: white;
    background-color: var(--primary);
    padding: 10px 30px;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 10px;
}

.navbar-toggler-icon {
    color: white !important;
}

.post-container button:hover {
    border: 2px solid var(--primary);
    background-color: var(--secondary);
}

.post-container button:active {
    border: 2px solid var(--secondary);
    background-color: var(--primary);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  

.glassify {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 760px) {
    .navbar-collapse {
         background-color: var(--dark2);
    }
    nav.navbar {
        padding: 0 5px
    }
}